* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/***********GENEREL***********/
h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 100px;
}

body {
  font-family: "Cinzel Decorative", cursive;
  background-image: url(design_pics/annie-spratt-Bf9PT5qVZvM-unsplash.jpg);
  background-size: cover;
}

/*************************STUDENT LIST***********************/

.container {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#student_article {
  background-image: url(design_pics/annie-spratt-Bf9PT5qVZvM-unsplash.jpg);

  /*   background-color: white; */
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

#student_article img {
  width: 40%;
  cursor: pointer;
}

/*************************POPUP***********************/

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
}

/* #popupcontent {
  display: flex;
  flex-direction: row;
} */

#popup_student_pic {
  height: 10%;
  width: auto;
}

#popup article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: 4rem auto;
  background-color: white;
  flex-wrap: nowrap;
}

#close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#popupbuttons {
  position: absolute;
  align-items: center;
  top: 42vh;
  left: 2vw;
}

/*************************FILTER, SORT, SEARCH AND NUMBER OF STUDENTS***********************/
#filterbtns {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}
select {
  margin-right: 30px;
}
#sortingList {
  justify-content: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: bolder;
}

.search {
  justify-content: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: bolder;
  margin-left: 30px;
}

#showedStudents {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 50px;
}
/*************************BUTTONS***********************/
.prefect {
  content: "🏆";
  cursor: pointer;
  filter: grayscale(100%);
}

.prefectshow {
  content: "🏆";
  cursor: pointer;
}

.expellbtn,
.prefectbtn,
.isbtn,
.filter {
  font-family: "Cinzel Decorative", cursive;
  font-weight: bolder;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
  margin: 5px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}
#expellbtn:hover,
#prefectbtn:hover,
#isbtn:hover,
.filter:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.clickedbutton {
  font-family: "Cinzel Decorative", cursive;
  font-weight: bolder;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #f4d03f 51%,
    #16a085 100%
  );
  margin: 5px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.clickedbutton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/*******************TEST**************************/

.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
  background-color: rgb(233, 233, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton {
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: darkgray;
}

.dialog .closebutton:hover {
  color: black;
}
